<!-- Page Content -->
<div class="container">

    <div class="row">
    <div class="col-md-12">
        <!-- Blog Post -->
        {{#if posts.length}}
            {{#each posts}}
                {{#if isPublished}}
                    <div class="card mb-4">
                        <div class="card-body">
                            <a href="/posts/{{id}}" class="card-title">{{title}}</a>
                            <div class="card-text">{{{content}}}</div>
                        </div>
                        <div class="card-footer text-muted">
                            <span>{{dateFormat updatedAt "dddd, MMMM Do YYYY, h:mm:ss a"}}</span>
                            <a href="/profile/{{user.id}}">by {{user.name}}</a>
                        </div>
                    </div>
                {{/if}}
            {{/each}}
        </div>
        {{else}}
            <p>no posts</p>
        {{/if}}
    </div>
</div>

